//Variables
$brand-colour1: #8B6F4C;
$brand-colour1-dark: darken( $brand-colour1, 8% );
$brand-colour2: #a6a6a6;
$link-colour: #a07b23;

//Breakpoints
$xs: 0;
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xxl-min: 2000px;

$sm-max: 575.98px;
$md-max: 767.98px;
$lg-max: 991.98px;
$xl-max: 1199.98px;
$xxl-max: 1999.98px;

$max-offset: 0.02px;

//Placeholders
%no-bullet {
    list-style: none;
}

%no-margin {
    margin: 0;
}

// .btn {
//     background-color: $brand-colour3;
//     border-radius: .3rem;
//     color: #ffffff;
//     padding: .5em 1em;
// }